

    <header>
        <div class="menu-list shadow-sm">
            <div class="d-flex">
                <button class="border-0 bg-white col-4 d-flex align-items-center menu-list" style="text-align: right;"
                    type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarLight"
                    aria-controls="offcanvasNavbarLight">
                    <i class="bi bi-list fs-1 note-tab"></i>
                </button>
                <div class="col-4 d-flex align-items-center text-center fs-3 note-tab menu-list">
                    دکترپلاس
                </div>
                <div class="col-4 d-flex justify-content-start align-items-center p-2 menu-list"
                    style="direction: ltr;">
                    <a class="nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" href="#" role="button"
                        aria-expanded="false">
                        <img src="../img/61792-[Converted].jpg" alt="mdo" class="rounded-circle border" width="40"
                            height="40">
                    </a>
                    <ul class="dropdown-menu text-small shadow border-0 rounded-3" style="width: 150px;"
                        data-popper-placement="bottom-end">
                        <li><a class="dropdown-item" onclick="openCity(event, 'New-test')" href="{% url 'test' %}">تست جدید +</a></li>
                        <li><a class="dropdown-item" href="#">تنظیمات</a></li>
                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                data-bs-target="#exampleModale">پروفایل</a></li>
                        <li><a class="dropdown-item" href="#">خروج</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="offcanvas offcanvas-end border-0 shadow" tabindex="-1" id="offcanvasNavbarLight"
            aria-labelledby="offcanvasNavbarLightLabel" aria-modal="true" role="dialog">
            <div class="offcanvas-header">
                <div class="name">

                </div>
            </div>
            <div class="offcanvas-body">
                <nav class="site-nav">
                    <ul class=" mt-4 p-0">
                        <li class="list-group tablinks" onclick="openCity(event, 'profile')"><a href="{% url 'tickets' %}">تیکت
                                ها</a></li>
                        <li class="list-group tablinks" onclick="openCity(event, 'New-test')"><a href="{% url 'test' %}">تست جدید</a>
                        </li>
                        <li class="list-group tablinks" onclick="openCity(event, 'Experiments')"><a href="#0">سوابق</a>
                        </li>
                        <li class="list-group" data-bs-toggle="modal" data-bs-target="#exampleModal1"><a
                                class="link">خروج</a></li>
                    </ul>
                </nav>

            </div>
        </div>
    </header>
    <!--header, menu, dashboard designed for size 1020px and above...-->
    <div class="site-wrap d-flex justify-content-center">
        <!--dashboard designed in size 1020...-->
        <nav class="site-nav responsive-m shadow">
            <div class="name p-2">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">
                    <img src="../img/61792-[Converted].jpg" alt="mdo" class="rounded-circle m-0" width="40" height="40">
                    amirabasghasemi2022
                </a>
                <ul class="dropdown-menu text-small shadow border-0 rounded-3" data-popper-placement="bottom-end">
                    <li><a class="dropdown-item" onclick="openCity(event, 'New-test')" href="{% url 'test' %}">تست جدید +</a></li>
                    <li><a class="dropdown-item" href="#">تنظیمات</a></li>
                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                            data-bs-target="#exampleModale">پروفایل</a></li>
                    <li><a class="dropdown-item" href="#">خروج</a></li>
                </ul>
            </div>
            <ul class="p-1">
                <li class="list-group tablinks" onclick="openCity(event, 'New-test')"><a href="{% url 'test' %}">تست جدید</a>
                </li>
                <li class="list-group tablinks" onclick="openCity(event, 'Experiments')"><a href="#0">سوابق</a></li>
                <li class="list-group tablinks" onclick="openCity(event, 'profile')"><a href="{% url 'tickets' %}">تیکت ها</a></li>

                <li class="list-group" data-bs-toggle="modal" data-bs-target="#exampleModal1"><a>خروج</a></li>
            </ul>
            <div class="note text-center p-2">
                <h3>کاربرگرامی</h3>
                <p class=" mt-3">جهت بالارفتن دقت وعملکردسایت، تست های شما،باعث جمع آوری دیتاهای
                    بیشترودقیقترخواهدشد.</p>
            </div>

        </nav>
    </div>
