{% extends 'ticket/base.html' %}
{% load static %}

{% block tests_section %}
                        <div class="col-6 d-flex justify-content-end">
                            <img src="{% static 'ticket/logo/61792-[Converted].png' %}" class="logo-header" alt="" srcset="">
                        </div>
                    </div>

                </header>
                <hr class="text-secondary">
                <!--Designing test questions...-->
                <div class=" body body-chek rounded-5 shadow-tobbox p-2 mt-5" style="height: 50vh;">
                    <div id="carouselExampleCaptions" style="height: 200px;" class="carousel slide"
                        data-bs-ride="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active mt-2 p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">

                                        <div class="col-6 mt-3 text-secondary">سوال شماره یک</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="{% static 'ticket/logo/61792-[Converted].png' %}" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr class="line-card">
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">آیا در طول زندگی خود حداقل 100 نخ سیگار
                                            کشیده اید؟</h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                <label class="checkbox path">
                                                    -بله
                                                    <input type="checkbox" class="border-0 opacity-0 ms-4">
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                            </div>
                                            <div class="grid me-4">
                                                <label class="checkbox path">
                                                    -خیر
                                                    <input type="checkbox" class="border-0 opacity-0 ms-4">
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--Ask the last questions and show the test result...-->
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره پانزده</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="{% static 'ticket/logo/61792-[Converted].png' %}" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">آیا شما فشارخون بالا دارید؟</h6>
                                        <div class="d-flex">
                                            <div class="d-flex mt-4 col-6">
                                                <div class="grid">
                                                    <label class="checkbox path">
                                                        -بله
                                                        <input type="checkbox" class="border-0 opacity-0 ms-4">
                                                        <svg viewBox="0 0 21 21">
                                                            <path
                                                                d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                            </path>
                                                        </svg>
                                                    </label>
                                                </div>
                                                <div class="grid me-4">
                                                    <label class="checkbox path">
                                                        -خیر
                                                        <input type="checkbox" class="border-0 opacity-0 ms-4">
                                                        <svg viewBox="0 0 21 21">
                                                            <path
                                                                d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                            </path>
                                                        </svg>
                                                    </label>
                                                </div>
                                            </div>
                                            <!--Test result display button...-->
                                            <div class="col-6 d-flex justify-content-end align-items-center">
                                                <button class="custom-btn btn-5" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal"><span>نتیجه تست</span></button>
                                            </div>
                                            <!--modal to display the result of the title...-->
                                            <div class="modal fade" id="exampleModal" tabindex="-1"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content rounded-5 w-100 border-0 shadow">
                                                        <div
                                                            class="modal-header border-0 d-flex flex-wrap justify-content-center">
                                                            <i
                                                                class="bi bi-shield-check fs-1 col-12 title-head-modal"></i>
                                                            <h5 class="title-head-modal">نتیجه تست</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p class="text-center text-secondary">
                                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                                                چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون
                                                                بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                                                برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با
                                                                هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت
                                                                و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان
                                                                را می طلبد
                                                            </p>

                                                        </div>
                                                        <div class="container d-flex justify-content-center">
                                                            <hr class="text-secondary w-75">
                                                        </div>
                                                        <div
                                                            class="modal-footer border-0 d-flex justify-content-center mb-3">
                                                            <button type="button" class="custom-btn btn-5 "
                                                                data-bs-dismiss="modal">خروج</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره چهارده</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="{% static 'ticket/logo/61792-[Converted].png' %}" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">آیا در طول زندگی خود سابقه سکردن داشته اید؟
                                        </h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                <label class="checkbox path">
                                                    -بله
                                                    <input type="checkbox" class="border-0 opacity-0 ms-4">
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                            </div>
                                            <div class="grid me-4">
                                                <label class="checkbox path">
                                                    -خیر
                                                    <input type="checkbox" class="border-0 opacity-0 ms-4">
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره سیزده</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="{% static 'ticket/logo/61792-[Converted].png' %}" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">وضعیت دیابت شما در چه سطحی می باشد؟</h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                <label class="checkbox path">
                                                    -بدون دیابت
                                                    <input type="checkbox" class="border-0 opacity-0 ms-5">
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                            </div>
                                            <div class="grid me-4">
                                                <label class="checkbox path">
                                                    -ابتدای بیماری
                                                    <input type="checkbox" class="border-0 opacity-0 ms-auto">
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                            </div>
                                            <div class="grid me-4">
                                                <label class="checkbox path">
                                                    -دیابت
                                                    <input type="checkbox" class="border-0 opacity-0 ms-5">
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره دوازده</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="{% static 'ticket/logo/61792-[Converted].png' %}" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">آیا کلسترول بدن شما بالا می باشد؟</h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                <label class="checkbox path">
                                                    -بله
                                                    <input type="checkbox" class="border-0 opacity-0 ms-4">
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                            </div>
                                            <div class="grid me-4">
                                                <label class="checkbox path">
                                                    -خیر
                                                    <input type="checkbox" class="border-0 opacity-0 ms-4">
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره یازده</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="{% static 'ticket/logo/61792-[Converted].png' %}" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">آیا از طریق آزمایش کلسترول بدن خود را در 5 سال
                                            اخیر بررسی کرده
                                            اید؟</h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                <label class="checkbox path">
                                                    -بله
                                                    <input type="checkbox" class="border-0 opacity-0 ms-4">
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                            </div>
                                            <div class="grid me-4">
                                                <label class="checkbox path">
                                                    -خیر
                                                    <input type="checkbox" class="border-0 opacity-0 ms-4">
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره ده</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="{% static 'ticket/logo/61792-[Converted].png' %}" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">آیا میزان چربی بدن شما بالا می باشد؟</h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                <label class="checkbox path">
                                                    -بله
                                                    <input type="checkbox" class="border-0 opacity-0 ms-4">
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                            </div>
                                            <div class="grid me-4">
                                                <label class="checkbox path">
                                                    -خیر
                                                    <input type="checkbox" class="border-0 opacity-0 ms-4">
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره نه</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="{% static 'ticket/logo/61792-[Converted].png' %}" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">آیا شما دارای بیماری کرونروی قلب هستید؟</h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                <label class="checkbox path">
                                                    -بله
                                                    <input type="checkbox" class="border-0 opacity-0 ms-4">
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                            </div>
                                            <div class="grid me-4">
                                                <label class="checkbox path">
                                                    -خیر
                                                    <input type="checkbox" class="border-0 opacity-0 ms-4">
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره هشت</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="{% static 'ticket/logo/61792-[Converted].png' %}" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">آیا در 30 روز گذشته فعالیت بدنی داشته
                                            اید؟(بدون احتساب شغل).
                                        </h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                <label class="checkbox path">
                                                    -بله
                                                    <input type="checkbox" class="border-0 opacity-0 ms-4">
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                            </div>
                                            <div class="grid me-4">
                                                <label class="checkbox path">
                                                    -خیر
                                                    <input type="checkbox" class="border-0 opacity-0 ms-4">
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره هقت</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="{% static 'ticket/logo/61792-[Converted].png' %}" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">آیا میوه را در روز از یک وعده بیشتر مصرف می کنید؟
                                        </h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                <label class="checkbox path">
                                                    -بله
                                                    <input type="checkbox" class="border-0 opacity-0 ms-4">
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                            </div>
                                            <div class="grid me-4">
                                                <label class="checkbox path">
                                                    -خیر
                                                    <input type="checkbox" class="border-0 opacity-0 ms-4">
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره شش</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="{% static 'ticket/logo/61792-[Converted].png' %}" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">آیا سبزیجات را در روز بیشتر از یک وعده مصرف می
                                            کنید؟</h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                <label class="checkbox path">
                                                    -بله
                                                    <input type="checkbox" class="border-0 opacity-0 ms-4">
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                            </div>
                                            <div class="grid me-4">
                                                <label class="checkbox path">
                                                    -خیر
                                                    <input type="checkbox" class="border-0 opacity-0 ms-4">
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره پنج</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="{% static 'ticket/logo/61792-[Converted].png' %}" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">آیا در 12 ماه گذشته زمانی وجود داشته است که
                                            شما نیاز به
                                            مراجعه به پزشک داشته باشید اما به دلیل هزینه نتوانسته اید؟</h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                <label class="checkbox path">
                                                    -بله
                                                    <input type="checkbox" class="border-0 opacity-0 ms-4">
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                            </div>
                                            <div class="grid me-4">
                                                <label class="checkbox path">
                                                    -خیر
                                                    <input type="checkbox" class="border-0 opacity-0 ms-4">
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره چهار</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="{% static 'ticket/logo/61792-[Converted].png' %}" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">آیا در راه رفتن یا بالا رفتن از پله ها
                                            مشکل جدی دارید؟</h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                <label class="checkbox path">
                                                    -بله
                                                    <input type="checkbox" class="border-0 opacity-0 ms-4">
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                            </div>
                                            <div class="grid me-4">
                                                <label class="checkbox path">
                                                    -خیر
                                                    <input type="checkbox" class="border-0 opacity-0 ms-4">
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره سه</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="{% static 'ticket/logo/61792-[Converted].png' %}" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">جنسسیت خود را مشخص کنید</h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                <label class="checkbox path">
                                                    -خانم
                                                    <input type="checkbox" class="border-0 opacity-0 ms-4">
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                            </div>
                                            <div class="grid me-4">
                                                <label class="checkbox path">
                                                    -آقا
                                                    <input type="checkbox" class="border-0 opacity-0 ms-4">
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره دو</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="{% static 'ticket/logo/61792-[Converted].png' %}" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">به طور کلی سطح سلامت بدن خود را در چه سطحی می
                                            بینید؟</h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                <label class="checkbox path">
                                                    -خوب
                                                    <input type="checkbox" class="border-0 opacity-0 ms-4">
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                            </div>
                                            <div class="grid me-4">
                                                <label class="checkbox path">
                                                    -خیلی خوب
                                                    <input type="checkbox" class="border-0 opacity-0 ms-4">
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                            </div>
                                            <div class="grid me-4">
                                                <label class="checkbox path">
                                                    -متوسط
                                                    <input type="checkbox" class="border-0 opacity-0 ms-4">
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                            </div>
                                            <div class="grid me-4">
                                                <label class="checkbox path">
                                                    -ضعیف
                                                    <input type="checkbox" class="border-0 opacity-0 ms-4">
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
  {% endblock tests_section %}