{% extends 'dashboard_base.html' %}
{% block content %}

<div class="modal fade" id="exampleModale" tabindex="-1" aria-labelledby="exampleModalLabele"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content rounded-4 shadow">
                        <div class="modal-header mt-3 border-0 d-flex flex-wrap justify-content-center">
                            <div class="position-relative">
                                <img src="../img/61792-[Converted].jpg" alt="mdo" class="rounded-circle border"
                                    width="150" height="150">
                            </div>
                        </div>
                        <div class="modal-body mb-3">
                            <h5 class="col-12 email-card text-secondary">amirabasghasemi2022</h5>
                            <h5 class="col-12 email-card text-secondary">امیرعباس قاسمی</h5>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}