{% extends 'dashboard_base.html' %}
{% load static %}
{% block content %}

<div id="New-test" class="tabcontent body active">
    <form method="POST" action="{% url 'test' %}">
        {% csrf_token %}
                <header>
                    <div class="col-12 d-flex">
                        <div class="col-6">
                            <h1 class="title">تست جدید</h1>
                            <p class="text-secondary mt-4">دکترپلاس همراه همیشگی شما...</p>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <img src="../logo/61792-[Converted].png" class="logo-header" alt="" srcset="">
                        </div>
                    </div>

                </header>
                <hr class="text-secondary">
                <!--Designing test questions...-->
                <div class=" body body-chek rounded-5 shadow-tobbox p-2 mt-5" style="height: 50vh;">
                    <div id="carouselExampleCaptions" style="height: 200px;" class="carousel slide"
                        data-bs-ride="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active mt-2 p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره یک</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="../logo/61792-[Converted].png" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr class="line-card">
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">جنسیت خود را مشخص کنید</h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                <ul class="p-1">
                                                {% for radio in form.Sex %}
                                                    <li style="display: inline;">
                                                        <label class="checkbox path" for="{{ radio.id_for_label }}">
                                                            {{ radio.choice_label }}
                                                            {{ radio.tag }}
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                                    </li>
                                                {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--Ask the last questions and show the test result...-->
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره بیستم</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="../logo/61792-[Converted].png" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">به نظرتان سلامت جسمی شما چه میزان است؟(1-5)</h6>
                                        <div class="d-flex">
                                            <div class="d-flex mt-4 col-6">
                                                <div class="grid">
                                                    {{ form.GenHlth }}
                                                </div>
                                            </div>
                                            <!--Test result display button...-->
                                            <div class="col-6 d-flex justify-content-end align-items-center">
                                                <button class="custom-btn btn-5" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal" type="submit"><span>نتیجه تست</span></button>
                                            </div>
                                            <!--modal to display the result of the title...-->
                                            <div class="modal fade" id="exampleModal" tabindex="-1"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content rounded-5 w-100 border-0 shadow">
                                                        <div
                                                            class="modal-header border-0 d-flex flex-wrap justify-content-center">
                                                            <i
                                                                class="bi bi-shield-check fs-1 col-12 title-head-modal"></i>
                                                            <h5 class="title-head-modal">نتیجه تست</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p class="text-secondary m-0 mb-2 p-0">میزان ابتلاء شما به
                                                                دیابت برحسب درصد.</p>
                                                            <canvas class="chart" id="myChart" style="width:100%;max-width:600px"> </canvas>
                                                            <div class="box-shadow-pie d-flex m-0 justify-content-center">
                                                                <div class="shadow-pie m-0 mt-4 border">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="container d-flex justify-content-center">
                                                            <hr class="text-secondary w-75">
                                                        </div>
                                                        <div
                                                            class="modal-footer border-0 d-flex justify-content-center mb-3">
                                                            <button type="button" class="custom-btn btn-5 "
                                                                data-bs-dismiss="modal">خروج</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره نوزدهم</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="../logo/61792-[Converted].png" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">حالا به سلامتی جسمانی خود که شامل بیماری و آسیب جسمی می شود فکر کنید، در طول 30 روز گذشته چند روز سلامت جسمانی شما خوب نبوده است؟ (0 تا 30)</h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                {{ form.PhysHlth }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره هجدهم</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="../logo/61792-[Converted].png" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">اکنون که به سلامت روان خود که شامل استرس، افسردگی و مشکلات عاطفی است فکر کنید، در طول ۳۰ روز گذشته چند روز سلامت روانی خوب نبوده است؟(0 تا 30)</h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                {{ form.MentHlth }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره هفدهم</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="../logo/61792-[Converted].png" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">مصرف زیاد الکل در هفته دارید؟ (مردان بالغ بیش از ۱۴ نوشیدنی در هفته زنان بالغ بیشتر از ۷ نوشیدنی در هفته مصرف میکنند)</h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                <ul class="p-1">
                                                {% for radio in form.HvyAlcoholConsump %}
                                                    <li style="display: inline;">
                                                        <label class="checkbox path" for="{{ radio.id_for_label }}">
                                                            {{ radio.choice_label }}
                                                            {{ radio.tag }}
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                                    </li>
                                                {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره شانزدهم</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="../logo/61792-[Converted].png" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">آیا در راه رفتن یا بالا رفتن از پله ها مشکل جدی دارید؟</h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                <ul class="p-1">
                                                {% for radio in form.DiffWalk %}
                                                    <li style="display: inline;">
                                                        <label class="checkbox path" for="{{ radio.id_for_label }}">
                                                            {{ radio.choice_label }}
                                                            {{ radio.tag }}
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                                    </li>
                                                {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره پانزدهم</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="../logo/61792-[Converted].png" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">آیا تا حالا سکته کرده اید؟</h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                <ul class="p-1">
                                                {% for radio in form.Stroke %}
                                                    <li style="display: inline;">
                                                        <label class="checkbox path" for="{{ radio.id_for_label }}">
                                                            {{ radio.choice_label }}
                                                            {{ radio.tag }}
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                                    </li>
                                                {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره چهاردهم</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="../logo/61792-[Converted].png" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">آیا تا به حال بیماری عروق کرونر قلب (CHD) یا انفارکتوس میوکارد (MI) را گزارش کرده اید؟ ( بیماری یا حمله قلبی)</h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                <ul class="p-1">
                                                {% for radio in form.HeartDiseaseorAttack %}
                                                    <li style="display: inline;">
                                                        <label class="checkbox path" for="{{ radio.id_for_label }}">
                                                            {{ radio.choice_label }}
                                                            {{ radio.tag }}
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                                    </li>
                                                {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره سیزدهم</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="../logo/61792-[Converted].png" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">آیا در تمام زندگی خود حداقل ۱۰۰ نخ سیگار کشیده اید؟ [توجه: ۵ بسته = ۱۰۰ نخ]</h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                <ul class="p-1">
                                                {% for radio in form.Smoker %}
                                                    <li style="display: inline;">
                                                        <label class="checkbox path" for="{{ radio.id_for_label }}">
                                                            {{ radio.choice_label }}
                                                            {{ radio.tag }}
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                                    </li>
                                                {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره دوازدهم</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="../logo/61792-[Converted].png" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">آیا کلسترول تان در پنج سال گذشته بررسی شده است؟</h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                <ul class="p-1">
                                                {% for radio in form.CholCheck %}
                                                    <li style="display: inline;">
                                                        <label class="checkbox path" for="{{ radio.id_for_label }}">
                                                            {{ radio.choice_label }}
                                                            {{ radio.tag }}
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                                    </li>
                                                {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره یازدهم</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="../logo/61792-[Converted].png" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">آیا توسط پزشک، پرستار یا سایر متخصصان بهداشت به شما گفته شده کلسترول خون شما بالا است؟</h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                <ul class="p-1">
                                                {% for radio in form.HighChol %}
                                                    <li style="display: inline;">
                                                        <label class="checkbox path" for="{{ radio.id_for_label }}">
                                                            {{ radio.choice_label }}
                                                            {{ radio.tag }}
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                                    </li>
                                                {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره دهم</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="../logo/61792-[Converted].png" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">آیا توسط پزشک، پرستار یا سایر متخصصان بهداشت به شما گفته شده فشار خون بالا دارید؟</h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                <ul class="p-1">
                                                {% for radio in form.HighBP %}
                                                    <li style="display: inline;">
                                                        <label class="checkbox path" for="{{ radio.id_for_label }}">
                                                            {{ radio.choice_label }}
                                                            {{ radio.tag }}
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                                    </li>
                                                {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره نهم</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="../logo/61792-[Converted].png" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">آیا در ۱۲ ماه گذشته زمانی وجود داشته است که شما نیاز به مراجعه به پزشک داشته باشید اما به دلیل هزینه نمی توانید؟</h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                <ul class="p-1">
                                                {% for radio in form.NoDocbcCost %}
                                                    <li style="display: inline;">
                                                        <label class="checkbox path" for="{{ radio.id_for_label }}">
                                                            {{ radio.choice_label }}
                                                            {{ radio.tag }}
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                                    </li>
                                                {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره هشتم</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="../logo/61792-[Converted].png" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">آیا هر نوع پوشش مراقبت های بهداشتی از جمله بیمه درمانی، پزشک خانواده یا خدمات بهداشتی دارید؟</h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                <ul class="p-1">
                                                {% for radio in form.AnyHealthcare %}
                                                    <li style="display: inline;">
                                                        <label class="checkbox path" for="{{ radio.id_for_label }}">
                                                            {{ radio.choice_label }}
                                                            {{ radio.tag }}
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                                    </li>
                                                {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره هفتم</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="../logo/61792-[Converted].png" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">سبزیجات را یکبار یا بیشتر در روز مصرف میکنید؟</h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                <ul class="p-1">
                                                {% for radio in form.Veggies %}
                                                    <li style="display: inline;">
                                                        <label class="checkbox path" for="{{ radio.id_for_label }}">
                                                            {{ radio.choice_label }}
                                                            {{ radio.tag }}
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                                    </li>
                                                {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره ششم</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="../logo/61792-[Converted].png" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">میوه رایکبار یا بیشتر در روز مصرف میکنید؟</h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                <ul class="p-1">
                                                {% for radio in form.Fruits %}
                                                    <li style="display: inline;">
                                                        <label class="checkbox path" for="{{ radio.id_for_label }}">
                                                            {{ radio.choice_label }}
                                                            {{ radio.tag }}
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                                    </li>
                                                {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره پنج</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="../logo/61792-[Converted].png" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">آیا در 30 روز گذشته به غیر از شغل معمولی خود، فعالیت بدنی یا ورزش کرده اید؟</h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                <ul class="p-1">
                                                {% for radio in form.PhysActivity %}
                                                    <li style="display: inline;">
                                                        <label class="checkbox path" for="{{ radio.id_for_label }}">
                                                            {{ radio.choice_label }}
                                                            {{ radio.tag }}
                                                    <svg viewBox="0 0 21 21">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                                    </li>
                                                {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره چهارم</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="../logo/61792-[Converted].png" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr class="line-card">
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">شاخص توده بدنی شما(BMI) چقدر می باشد؟(100-5)</h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                {{ form.BMI }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره سه</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="../logo/61792-[Converted].png" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr class="line-card">
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">مدرک تحصیلی شما چیست؟</h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                <ul class="p-0">
                                                {% for radio in form.Education %}
                                                    <li style="display: inline;">
                                                        <label class="checkbox path" for="{{ radio.id_for_label }}">
                                                            {{ radio.choice_label }}
                                                            {{ radio.tag }}
                                                    <svg viewBox="0 0 21 21" style="left: -25px">
                                                        <path
                                                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                                        </path>
                                                    </svg>
                                                </label>
                                                    </li>
                                                {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mt-2  p-5">
                                <div class="card p-2 shadow-tobbox border-0" style="width:100%;">
                                    <div class="card-header d-flex bg-white border-0">
                                        <div class="col-6 mt-3 text-secondary">سوال شماره دو</div>
                                        <div class="col-6 justify-content-end d-flex"><img
                                                src="../logo/61792-[Converted].png" style="height: 50px;" alt=""
                                                srcset=""></div>
                                    </div>
                                    <div class="container">
                                        <hr class="line-card">
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-secondary">سن خود را وراد کنید</h6>
                                        <div class="d-flex mt-4">
                                            <div class="grid">
                                                {{ form.Age }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>

                    </div>
                </div>
        </form>
  </div>
{% endblock %}