{% extends 'dashboard_base.html' %}
{% load static %}
{% block content %}

<div id="profile" style="height: 100%;" class="tabcontent body active">
                <header>
                    <div class="col-12 d-flex">
                        <div class="col-6">
                            <div class="breadcrumbs">
                                <a class="nav-link link-secondary" href="#0/">ارتباط باپشتیبانی</a>
                            </div>
                            <h1 class="title">تیکت ها</h1>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <img src="{% static 'ticket/img/logo/61792-[Converted].png' %}" class="logo-header" alt="" srcset="">
                        </div>
                    </div>
                    <nav class="nav-tabs" id="nav-tabs">
                        <a class="nav-link link-secondary border-0 active tabbar" onclick="openbox(event, 'before')"
                            href="#0">
                            تیکت های اخیر
                        </a>
                        <a class="nav-link link-secondary border-0 tabbar" onclick="openbox(event, 'creation')"
                            href="#0">
                            ارسال تیکت جدید
                        </a>
                    </nav>
                </header>
                <!--The box is designed for the ticket section to be empty...-->
                <div class="tabbox" id="before">
                    <div class="row shadow-tobbox mt-5 p-4" style="display: none;">
                        <div class="col-12 d-flex flex-nowrap">
                            <p class="note-tab col-6"><i class="bi bi-box-arrow-right"></i> تیکت های اخیر</p>
                            <div class="col-6 d-flex justify-content-end text-center">
                                <button class="custom-btn btn-13" style="width: auto;"
                                    onclick="openbox(event, 'creation')">ثبت تیکت جدید</button>
                            </div>
                        </div>
                        <div>
                            <p class="text-secondary text-center mt-5 mb-5">هیچ تیکت پشتیبانی برای نمایش وجود ندارد.</p>
                        </div>
                    </div>
                    <!--Box design to display tickets...-->
                    <div class="row shadow-tobbox mt-5 p-5 main-hight">
                        <div class="col-12 d-flex flex-nowrap">
                            <p class="note-tab col-6"><i class="bi bi-box-arrow-right"></i> تیکت های اخیر</p>
                            <div class="col-6 d-flex justify-content-end text-center">
                                <button class="custom-btn btn-13" style="width: auto;"
                                    onclick="openbox(event, 'creation')">ثبت تیکت جدید</button>
                            </div>
                        </div>
                        <table class="table text-secondary mt-5">
                            <thead>
                                <tr>
                                    <th class="title-head">شماره</th>
                                    <th class="title-head">موضوع تیکت</th>
                                    <th class="title-head">تاریخ</th>
                                    <th class="title-head" style="width:25%">وضعیت بررسی</th>
                                    <th class="title-head text-center">مشاهده</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for ticket in all_tickets %}
                            <tr>
                                    <td>{{ ticket.pk }}</td>
                                    <td>{{ ticket.title }}</td>
                                    <td>{{ ticket.created_time }}</td>
                                    <td>
                                        {% if ticket.status == 0 %}
                                        <p class="text-warning text-table-alert">{{ ticket.get_status_display }}</p>
                                        {% else %}
                                        <p class="text-success text-table-alert">{{ ticket.get_status_display }}</p>
                                        {% endif %}
                                    </td>
                                    <td class="text-center position-relative">
                                        <a href="{% url 'ticket-conversation' ticket.pk %}">
                                        <i class="bi bi-card-text fs-4 icon-table text-center">
                                            <span
                                                class="position-absolute top-0 mt-2 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                                                <span class="visually-hidden">New alerts</span>
                                            </span>

                                        </i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="demo mt-5">
                            <nav class="pagination-outer" aria-label="Page navigation">
                                <ul class="pagination">
                                    {% if all_tickets.has_previous %}
                                     <li class="page-item">
                                        <a href="href=?page={{ all_tickets.previous_page_number }}" class="page-link" aria-label="Previous">
                                            <span aria-hidden="true">«</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% for i in all_tickets.paginator.page_range %}
                                      {% if all_tickets.number == i %}
                                        <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                                      {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                      {% endif %}
                                    {% endfor %}
                                    {% if all_tickets.has_next %}
                                     <li class="page-item">
                                        <a href="href=?page={{ all_tickets.next_page_number }}" class="page-link" aria-label="Next">
                                            <span aria-hidden="true">»</span>
                                        </a>
                                    </li>
                                    {% endif %}

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!--Box design for communication with support...-->
                <div class="tabbox" id="creation">
                    <div class="row">
                        <div class="mt-4 shadow-tobbox rounded-3 p-3">
                            <div class="container mt-5">

                                <div class="row  d-flex justify-content-center">

                                    <div class="col-md-10 mb-5">

                                        <div class="col-lg-12">
                                            <h4 class="note-tab">پشتیبانی</h4>
                                            <p class="text-secondary">پاسخگویی درسریع ترین زمان ممکن.</p>
                                        </div>
                                        <hr class="text-secondary">
                                        <div class="col-lg-12">
                                            <form action="{% url 'tickets' %}" method="post" >
                                            {% csrf_token %}
                                            <p class="note-tab">موضوع تیکت</p>
                                            {{ form.title }}
                                            <p class="note-tab mt-5">پیام</p>
                                            {{ form.text }}
                                            <div class="col-lg-12 d-flex flex-nowrap mt-5">
                                                <div class="col-6">
                                                    <p class="note-tab">قبل ازبارگذاری مجددصفحه،اطلاعات
                                                        موردنظرراذخیره کنید.</p>
                                                </div>
                                                <div class="col-6 d-flex justify-content-end">
                                                    <button class="custom-btn btn-13" type="submit">ارسال تیکت</button>
                                                </div>
                                            </div>
                                        </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--box designed to display support tickets...-->

            </div>

{% endblock %}