{% extends 'base.html' %}

{% block content %}
<div class="body-form">
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}

                <h2 class="mb-4">ایجاد حساب کاربری</h2>
                <span>ازایمیل خودبرای ثبت نام استفاده کنید</span>
                {{ form_sing.username }}
                {{ form_sing.email }}
                {{ form_sing.password1 }}
                {{ form_sing.password2 }}
                <button type="submit">ثبت نام</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <h2 class="mb-4">ورود</h2>
                <span>به حساب کاربری خود وارد شوید</span>
                {{ form_log.username }}
                {{ form_log.password }}
                <a href="#">رمز خود را فراموش کرده اید؟</a>
                <button type="submit">ورود</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>خوش آمدید!</h1>
                    <p>برای حفظ ارتباط با ما لطفا با اطلاعات شخصی خود وارد شوید</p>
                    <button class="ghost" id="signIn">ورود</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h2>ایجادحساب کاربری</h2>
                    <p>مشخصات شخصی خود را وارد کنید تا درمان را شروع کنیم</p>
                    <button class="ghost" id="signUp">ثبت نام</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
